<% provide(:title, "注册") %>
<div class="content">
<%= render partial:'page/navbar' %>


<div class="container sign">
  <div class="row">
    <div class="col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 ">
     <div class="panel panel-default">
       <div class="panel-heading">注册新用户</div>
       <div class="panel-body"> <%= render 'form' %></div>
     </div>

    </div>
  </div>


  <!--<%= link_to 'Back', users_path %>-->
</div>
</div>
<%= render partial:'page/footer' %>