<footer class="footer boxshadow-up" >
  <div class="footer-container">
     <div>
  <p class="text-center">Copyright ©2015 敲个代码</P>
   <p class="text-center"> Design by <a href="/" target=_new>neekin</a>
  </p>
    </div>
  </div>
</footer>