<% provide(:title, "about") %>


<!--导航开始-->
<div class="st-container">
  <input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
  <input type="radio" name="radio-set" id="st-control-2"/>
  <input type="radio" name="radio-set" id="st-control-3"/>

  <div class="st-scroll">
    <section class="st-panel" id="st-panel-1">
      <div class="st-page container-fluid">
        <h1>一杯咖啡 一个角落 一部电脑 一群志同道合的小伙伴</h1>

        <p>不管你是人生苦短的Pythoner,还是说走就走的Let' Go</p>

        <p>不管你是初学的菜鸟，还是经验丰富的老鸟</p>

        <p>不管你是产品狗，还是程序猿</p>

        <p>总能找到你的小圈子</p>
      </div>
    </section>
    <section class="st-panel" id="st-panel-2">
      <div class="st-page container-fluid">
        <div class="row">
          <div class="col-md-12"><h1>一个午后 一个周末 一个假日 一个阳光明媚的星期天</h1></div>
        </div>
      </div>
    </section>
    <section class="st-panel" id="st-panel-3">
      <div class="st-page container-fluid">
        <h1>何不相约一起敲个代码？</h1>
      </div>
    </section>
  </div>
</div>
<!--导航结束-->