<% provide(:title, 'WelCome') %>
<div class="content">
<%= render partial:'page/navbar'%>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!--<ol class="breadcrumb">-->
        <!--<li>a</li>-->
        <!--<li>b</li>-->
        <!--<li>c</li>-->
      <!--</ol>面包屑导航-->
     <div class="panel panel-default">
      <div class="panel-heading clearfix">
        活动
      </div>
       <div class="panel-body st-page">
      <div class="container-fluid">
        <div class="row">
         <div class="col-md-12">
           <div class="media media-middle">
             <div class="media-left">
               <a href="">
                 <img src="/uploads/user/avtar/1/small_xiongmao.jpg" class="media-object img-circle" alt="" width="30"/>
               </a>
              关注
             </div>
             <div class="media-body">
               <h4 class="media-heading">广州-天河广场-星巴克</h4>
               相约在星巴克，一起敲PHP 主要学习PHP在各种开发环境搭建及部署服务器
               <div class="info" style="color: #bbbbbb;">adsfasdfasdfas</div>
             </div>
             <div class="media-right"><span class="badge">4</span></div>
           </div>
         </div>
        </div>
      </div>


       </div>
       <div class="panel-footer clearfix">

           <ul class="pagination">
             <li><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
             <li><a href="">1</a></li>
             <li><a href="">2</a></li>
             <li><a href="">3</a></li>
             <li><a href="">4</a></li>
             <li><a href="">5</a></li>
             <li><a href="">6</a></li>
             <li><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
           </ul>

       </div>
     </div>
    </div>
    <div class=" col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading clearfix"> 个人信息</div>
        <div class="panel-body st-userinfo"></div>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading clearfix"> 热门活动</div>
        <div class="panel-body st-userinfo"></div>
      </div>
  </div>
</div>
</div>
</div>
<%= render partial:'page/footer' %>
