.footer
{
  background-color: #f8f8f8;
  height: 80px;
}
body{
  background: #E7EAEC;
  height: 100%;
}
html
{
  height: 100%;
}
.content
{
  min-height: 100%;
  margin-bottom: -80px;

}
.notice
{
  min-height: 60px;
  width:200px;
  background: teal;
  position:absolute;
  bottom: 80px;
  right: 20px;
  color:white;
  padding: 20px;
  box-shadow: 6px 7px 9px -1px rgba(0,0,0,0.6);
}

.boxshadow-down
{
  box-shadow: 0 1px 9px #9c9c9c;
}
.boxshadow-up
{
  box-shadow: 0 1px 9px #9c9c9c;
}